body {

    background-color: lightblue;
}
.fleche{
    margin: 20px;
    width: 20%;
}

.post{
    width: 30%;
    float: right;
margin: 5px;

    background-color: lightgray;
}

.post img{

    text-align:center;
    margin:auto;
    display:flex;
    border-radius: 50%;
}


.title{

    cursor: pointer;
}

.dislike{

    border-radius: 50%;
    margin: 20px;
    width: 50%;
}

