form{
border-style:solid;
padding-top: 20px;
width: 50%;
margin: auto;
padding-left: 20px;

}



.Add{

    padding-top: 20px;
}


input{

    text-align:center;
    display: block;
    margin: 0 0 1em 0;
    width: 90%; 
    padding: 5px;
    background-color: white;

}



textarea{

    text-align:center;
    display: block;
    margin: 0 0 1em 0;
    width: 90%; 
    padding: 5px;
    background-color: white;

}


.valider{

cursor: pointer;
text-align:center;
display: block;
margin: 0 0 1em 0;
width: 90%; 
border: 1px solid #818181;
padding: 5px;

}


.valider:hover{


    background-color:green;
}