

.menu{

background-color: gainsboro;
height: 50%;
width: 40%;
border:solid;

}

.success{

  background-color: aqua;
  float: left;
  border-radius: 50%;
  width: 100px;
}

.success:hover{

  background-color: chartreuse;
}

ul {
  padding: 10;
  list-style: none;
}

li{

  cursor: pointer;
}

li:hover{

  color: blue;
}

section {
  
width: 40%;
float: right;
border: solid;
text-align:center;
margin: 50px 10px;
margin-top: 10;
background-color: white;
}

.lien{

  background-color: aqua;
  cursor: pointer;

float: right;

}

img{

border-radius: 50%;
}

body{


  background-color: grey;

}

button{

  cursor: pointer;
}

button:hover{


  background-color: red;
}