.calc {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.question{
  padding-top: 20px;
  margin: 30px;
  padding-left: 30px;
}


.question2{
  padding-top: 20px;
  margin: 30px;
  padding-left: 50px;
}


section{
  cursor: pointer;
}

.ok{

  margin-left: 0.5rem;
  background: white;
  border-radius: 3px;
  width: 100px;
  box-shadow: var(--box-shadow);
  text-align: center;
  margin: 50px;
  
}

.text{
  color: green;
  width: 75%;
  padding-left: 30%;

}
.menu{

background-color: gainsboro;
height: 50%;
width: 40%;
border:solid;

}

.success{

  float: left;
  border-radius: 50%;
  width: 100px;
}

@media ( min-width:700px)  {

  .auteur{

    display: inline-block;
    padding-left: 60%;
    color: rgb(65, 41, 41);
  }

  .Supprimer{

    float: right;
    border-radius: 50%;
    width: 100px;
  }
  
}


.Supprimer{

  border-radius: 50%;
  width: 100px;
}



.Editer{

  
  border-radius: 50%;
  width: 100px;
}





ul {
  padding: 10;
  list-style: none;
}

li{

  cursor: pointer;
}

li:hover{

  color: blue;
}
.auteur{

  display: inline-block;
  padding-left: 10%;
  color: brown;
}
section {
  
width: 40%;
float: right;
border: solid;
text-align:center;
margin: 50px 10px;
margin-top: 10;
background-color: white;
}

.navbar{

background-color: black;

}

.changeShow{
  background-color: white;
}

.like{
  float: right;
  display: inline-block;
  cursor: pointer;
  padding-left: 5%;
}

.lien{

cursor: pointer;
float: right;

}

img{

border-radius: 50%;
}

body{


  background-color: grey;

}

button{

  cursor: pointer;
}

button:hover{


  background-color: red;
}

.title{
  display: inline-block;
  cursor: pointer;
}
